<div class="admin-navbar">

    <ul>
     <li><a [routerLink]="['/adminhomeLink']">NGO</a></li>
   
    <li><a [routerLink]="'/admin/courses'">Courses</a></li>
    <li><a [routerLink]="'/admin/users'">Users</a></li>
    <li><a [routerLink]="'/admin/accomodation'">Accomodation</a></li>
    <li><a [routerLink]="'/admin/accomodation'">Change Password</a></li>
    <li><a [routerLink]="['/adminloginLink']">Logout</a></li>
    </ul>
    </div>
    <div class="img">
    <div class="row">
      <div class="column" >
        <h1>Functionality</h1><br><br>
        <h2>Add_Accomodation</h2><br><br><br><br>
        <h2>Approve_Accomodation</h2><br><br><br><br><br>
        <h2>View_Accomodations</h2><br><br><br><br><br>
        <h2>Update_Accomodation</h2><br><br><br><br><br>
        
       
      
      </div>
      <div class="column" >
        <h1>Description</h1><br><br>
        <h2>The function gets the required input from user and adds the same in the database.</h2><br><br>
      
        <h2>The function approves all the user requests who have applied for accomodation based on the eligibility criteria</h2><br><br><br>
        <h2>The function lists down all the details about accomodation</h2><br><br><br>
        <h2>The function updates the details of a particular accomodation</h2>
      </div>
      <div class="column" >
        <h1>Links</h1><br><br>
        <a [routerLink]="'/admin/accomodation/addaccomodation'">Add</a><br><br><br><br>
        <a [routerLink]="'/admin/accomodation/approveaccomodation'">Approve</a><br><br><br><br>
        <a [routerLink]="'/admin/accomodation/viewaccomodation'">View</a><br><br><br><br>
        <a [routerLink]="'/admin/accomodation/updateaccomodation'">Update</a><br><br><br><br>

  
        
      </div>
    </div>
  </div>
  
    

