<div class="step-navbar">
    <ul>

      
        <li><a [routerLink] = "['/stepAboutUsLink']">About Us</a></li>
        <li><a [routerLink] = "['/guidelinesLink']">Guidelines</a></li>
        
        <li><a [routerLink] = "['/stepEnrollLink']">Enroll</a></li>
        <li><a [routerLink] = "['/trainingSectorsLink']">Training Sectors</a></li>
        <li><a [routerLink]="['/welfareSchemesLink']">Welfare Schemes</a></li>
        <li><a [routerLink]="['/stepfaqLink']">FAQ</a></li>
        <li><a [routerLink]="['/userloginLink']">Logout</a></li>


    </ul>
</div>

<div class="stepAboutUs">
    <div class="row">
      <div class="col-7">
        <div class="stepabout-box">
 
          <div class="divlabel">
            <label>Guidelines : </label>
          </div>
          <div class="contentdiv">
            <ol>
                <li>A user can enroll themselves only under a single NGO.</li>
                <li>The courses and accomodation facilities are alloted only for women.</li>
                <li><a [routerLink]="['/trainingSectorsLink']">Click here</a> to view the list of courses under training sectors.</li>
                <li>Course enrollment will be closed two days before the start date of the course.</li>
                <li>Accomodations are approved based on the monthly income and socio economic background of the user. </li>
                <li>Sukanya Yojna applications are approved based on the age of girl child. </li>
            </ol>
        </div>
    </div>
</div>
    <div class="col-5">
        <div class="imagediv">
          <img src="https://www.careerindia.com/img/400x100/2014/10/16-eligibilitycriteria.jpg">
        </div>
      </div>
  
</div>
</div>
