<div class="img">
    <div class="registerdiv">
        <div class="registercontainer">
            <div class="register-box">
       
            <h1>Change Password</h1>
            <form  #form="ngForm" (ngSubmit)="add()">
                 <p>Change Password</p>
                <input type="text"  name="city" #city="ngModel"   placeholder="Enter City" [(ngModel)]=changepassword.newPassword required>
               
                <p> Confirm Change Password </p>
                <input type="number" name="numberOfRooms" #noOfRooms="ngModel"  placeholder="Enter Number of rooms"   [(ngModel)]=addaccomodation.numberOfRooms required>
                
                <input type="submit" name="submit" [disabled] = "!form.valid?true:false" value="Add">
                
               
            </form>
</div>
</div>
</div>
</div>

