
<div class="img">
    <div class="registerdiv">
        <div class="registercontainer">
            <div class="register-box">
       
				<h1>Change Password</h1>
	
		<form #changePassformAdmin="ngForm" (ngSubmit)="updateUserPasswordAdmin()">
			<p>Email</p>
              <input type="text" #AdminEmail="ngModel" name="Adminemail" placeholder="Enter Admin Email" [(ngModel)]=newPassInput.email pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" required>
              

			<br>

				<p>New Password</p>
              <input type="text"  #AdminNewPassword="ngModel" name="userNewPassword"   placeholder="Enter New Password" [(ngModel)]=newPassInput.password required>
            
              <p>Confirm Password</p>
              <input type="text"  #AdminConfirmPassword="ngModel" name="AdminConfirmPassword"   placeholder="Enter New Password" [(ngModel)]='confirmPass' required>
            
              
	
	
			<button type="submit" class="login-button"> Update </button>
			
        </form>	
        {{confirmPassCheckMessage}}
		
</div>
</div>
</div>
