<div class="step-navbar">
    <ul>
<li><a [routerLink] = "['/stepAboutUsLink']">About Us</a></li>
      <li><a [routerLink] = "['/guidelinesLink']">Guidelines</a></li>
      <li><a [routerLink] = "['/stepEnrollLink']">Enroll</a></li>
      <li><a [routerLink] = "['/trainingSectorsLink']">Training Sectors</a></li>
      <li><a [routerLink]="['/welfareSchemesLink']">Welfare Schemes</a></li>

      <li><a [routerLink]="['/stepfaqLink']">FAQ</a></li>
  
    </ul>
  </div>

  <div class="stepAboutUs">
    <div class="row">
      <div class="col-7">
        <div class="stepabout-box">
  <br>
  <div class="divlabel">
            <label>Frequently Asked Questions(FAQ) : </label>
          </div>
          <p><img src="https://previews.123rf.com/images/djvstock/djvstock1608/djvstock160804972/60805260-question-mark-ask-symbol-problem-icon-isolated-and-flat-illustration-vector-graphic.jpg"  style="width:400px;height:500px;float:right;padding-top:2px;">
              <span>1.Can a user enroll in more than one NGO ?</span><br>
              Ans.No.A user can enroll only under one NGO.<br>
           
            
           
           
                <span>2.Why should a user apply sukanya yojna scheme?</span><br>
                Ans.The initial deposit amount is small.The scheme helps to meet the educational expenses of the girl child.The investments towards Sukanya Yojana are eligible for tax deductions under Section 80C of the Income Tax Act.Premature withdrawal is allowed under special circumstances.<br>
             

           
                <span>3.What is the minimum deposit amount for sukanya yojna ?</span><br>
                Ans.The account can be opened with a minimum initial deposit of Rs.250.<br>
           

              
                <span>4.How should a user apply for accomodation ?</span><br>
                Ans.Kindly visit this <a [routerLink]="['/welfareSchemesLink']">link</a> to apply for accomodation.<br>
              
            </p>
              
</div>
</div>
<!--<div class="col-5">
    <div class="imagediv">
      <img src=" https://previews.123rf.com/images/djvstock/djvstock1608/djvstock160804972/60805260-question-mark-ask-symbol-problem-icon-isolated-and-flat-illustration-vector-graphic.jpg">
    </div>
  

</div>-->
</div>
</div>
