<div class="ngo-navbar">
    <ul>
      <li><a [routerLink] = "['/ngoaboutusLink']">About Us</a></li>
      <li><a [routerLink] = "['/ngocriteriaLink']">Criteria</a></li>
      <li><a [routerLink] = "['/ngoOrganizationsLink']">Organizations</a></li>
      
      <li><a [routerLink] = "['/ngologinLink']">NGO Dashboard</a></li>
      <li><a [routerLink] = "['/ngoRegisterLink']">Register</a></li>
      <li><a [routerLink] = "['/ngofaqLink']">FAQ</a></li>
      
    </ul>

</div>
 


<div class="img"><br/>

    <h1>CRITERIA</h1> <br/><br/>

    <p>
        Every NGO in India is legally required to document a trust deed/ 
        Memorandum of Understanding/Bylaws. It contain the name and address of 
        the NGO, mission and objectives, details of governing body members, 
        human resource and staffing information, rules and regulations, 
        administrative laws and procedures. The Memorandum must be prepared 
        and drafted in the acceptable pattern, manner, process and parameters 
        that are required for registration and other procedures. It is better 
        to hire legal NGO Consultants who know the requirements better and have
         a better knowledge of the procedure. Before the submission of the application 
         for registration of an NGO, it is important to mention the bylaws that represent 
         the rules, regulations, operation modes, working pattern, working area, 
         responsibilities of the NGO and objectives of an NGO.
    </p>

</div>

<div>
    <router-outlet> </router-outlet>
</div>