@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;1,100&display=swap');

*{
    margin:0;
    padding:0; 
    
}



.ngo-navbar{
    background : #B7B9B9;
    text-align: center;
    font-size: 18px;
    overflow: hidden;
}



.ngo-navbar ul{

    display: inline-flex;
    list-style: none;
    color :  #050404;
}

.ngo-navbar ul li {
    width: 124px ;
    margin: 5px;
    padding: 5px 10px;
}

.ngo-navbar ul li a {
    text-decoration: none;
    color: #050404;

}


.ngo-navbar ul li:hover{
    background: #6F7878;
    border-radius: 3px;
}

div.img{
    background-image: url("/assets/images/ngoAdd.jpg");
    height: 100vh;
    width: 97.65vw;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 140%,100%;
}

.registerdiv{
    padding: 10px;
    background-image: url(/assets/images/ngoReg2.jpg);
    background-repeat: no-repeat;
	background-size: auto;
    background-position: center;
    font-family: sans-serif;
}

.registercontainer{
	width: 100%;
	margin-top: auto;
}
.register-box{
    width: 450px;
    height: 1100px;
    background: rgba(0, 0, 0, 0.7);
	color: #fff;
    box-sizing: border-box;
	padding: 70px 30px;
	margin: auto;
}

.register-box p{
    margin: 0;
    margin-top: 20px;
    padding: 0;
    font-weight: bold;
}

h1{
    margin: 0;
    padding: 0 0 20px;
    text-align: center;
    font-size: 22px;
    color: silver;
}

.register-box input[type="text"],input[type="number"],input[type="email"], input[type="password"],input[type="submit"] ,input[type="date"] {
    width: 100% ;
    margin-bottom: 20px;
}
.register-box input[type="text"],input[type="email"], input[type="password"],input[type="number"]
{
    margin: 10px 0px 10px 0px;
    border: none;
    border-bottom: 1px solid #fff;
    border-radius: 5px;
    outline: none;
    height: 30px;
    color: grey;
    font-size: 16px;
}




.register-box input[type="date"]
{
    margin: 10px 0px 10px 0px;
    border: none;
    border-bottom: 1px solid #fff;
    border-radius: 5px;
    outline: none;
    height: 30px;
    color: grey;
    font-size: 16px;
}
.register-box input[type="submit"]
{
    margin-top: 30px;
    border: none;
    outline: none;
    height: 40px;
    background: #1c8adb;
    color: grey;
    font-size: 18px;
    border-radius: 20px;
}
.register-box input[type="submit"]:hover
{
    cursor: pointer;
    background: #39dc79;
    color: #000;
}

.register-box a{
    text-decoration: none;
    font-size: 14px;
    color: #fff;
}
.register-box a:hover
{
    color: #39dc79;
}





textarea{
    width: 100%;
    height: 50px;
    font-size: 15px;
}

.ngoLoc{
    padding-bottom: 5px;
    padding-top: 5px;
    margin-top: 20px;
    margin-bottom: 10px;

}



.ngoLoc label{
    font-weight: bold;
}

.ngoLoc select{
    width: 100%;
    border-radius: 5px;
    outline: none;
    height: 30px;
    color: grey;
    font-size: 16px;
}




