<div class="ngo-navbar">
    <ul>
      <li><a [routerLink] = "['/ngoaboutusLink']">About Us</a></li>
      <li><a [routerLink] = "['/ngocriteriaLink']">Criteria</a></li>
      <li><a [routerLink] = "['/ngoOrganizationsLink']">Organizations</a></li>
      
      
      <li><a [routerLink] = "['/ngoRegisterLink']">Register</a></li>
      <li><a [routerLink] = "['/ngofaqLink']">FAQ</a></li>
      <li><a [routerLink] = "['/ngoaboutusLink']">Logout</a></li>
    </ul>

</div>


<div class="img">
    <div class="registerdiv">
        <div class="registercontainer">
            <div class="register-box">
                <h1>Add Course</h1>
                <form  #addcourseform="ngForm" (ngSubmit)="addcourse()">
                    <p>Course Name</p>
                    <input class="nameinput" type="text"  #courseName="ngModel" name="coursename" placeholder="Enter Course Name" [(ngModel)]=course.courseName required>
                    <div *ngIf = "courseName.invalid && (courseName.dirty || courseName.touched)">
                        <div *ngIf = "courseName.errors.required" style="color: red;"> Course Name is required</div>
                        
                    </div>

                    <p>Course Benefits</p>
                    <input class="text" type="text"  #courseBenefits="ngModel" name="coursebenefits" placeholder="Enter Course Benefits" [(ngModel)]=course.courseBenefits required>
                    <div *ngIf = "courseBenefits.invalid && (courseBenefits.dirty || courseBenefits.touched)">
                        <div *ngIf = "courseBenefits.errors.required" style="color: red;"> Course Benefits are required</div>
                        
                    </div>

                    <p> Course Start Date </p>
                    <input type="date"  name="courseStartdate" placeholder="Enter Start Date"  #courseStartDate="ngModel" [(ngModel)]=course.courseStartDate required>
                    <div *ngIf = "courseStartDate.invalid && (courseStartDate.dirty || courseStartDate.touched)">
                        <div *ngIf = "courseStartDate.errors.required" style="color: red;"> Start Date is required</div>
                        
                    </div>

                    <p> Course End Date</p>
                    <input type="date"  name="courseEnddate" placeholder="Enter End Date"  #courseEndDate="ngModel" [(ngModel)]=course.courseEndDate required>
                    <div *ngIf = "courseEndDate.invalid && (courseEndDate.dirty || courseEndDate.touched)">
                        <div *ngIf = "courseEndDate.errors.required" style="color: red;"> End Date is required</div>
                        
                    </div>
    
                   
                    <div class="ngoLoc"> 
                        <label class="ngoLocationLabel">Training Sector </label>
                        <div>
                            <select class="location" name="loc" #trainingSector="ngModel"  [(ngModel)]=course.trainingSector required>
                                <option  disabled="disabled" selected="selected">--Choose Training Sector--</option>
                                <option  value="Agriculture">Agriculture</option>
                                <option  value="Food Processing">Food Processing</option>
                                <option  value="Handicrafts">Handicrafts</option>
                                <option  value="Embroidery">Embroidery</option>
                                <option  value="Computer&IT">Computer&IT</option>
                                <option  value="Soft Skill">Soft Skill</option>
                              </select>
                        </div>
                    </div>
                    <div *ngIf = "trainingSector.invalid && (trainingSector.dirty || trainingSector.touched)">
                        <div *ngIf = "trainingSector.errors.required" style="color: red;"> Location is required</div>
                        
                    </div>

                    <p>Course Providing NGO Name </p>
                    <input type="text"  name="ngoname" #courseProvidingNGO="ngModel"   placeholder="Enter NGO Name"  [(ngModel)]=course.courseProvidingNGO required>
                    <div *ngIf = "courseProvidingNGO.invalid && (courseProvidingNGO.dirty || courseProvidingNGO.touched)">
                        <div *ngIf = "ngoEmail.errors.required" style="color: red;"> NGO Name is required</div>
                        
                    </div>

                    <p>Course Providing NGO Email </p>
                    <input type="email"  name="ngoemail" #ngoEmail="ngModel"   placeholder="Enter NGO Email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" [(ngModel)]=course.ngoEmail required>
                    <div *ngIf = "ngoEmail.invalid && (ngoEmail.dirty || ngoEmail.touched)">
                        <div *ngIf = "ngoEmail.errors.required" style="color: red;"> Email is required</div>
                        <div *ngIf = "ngoEmail.errors.pattern" style="color: red;"> Invalid Email</div>
                    </div>

                    <input type="submit" name="submit" [disabled] = "!addcourseform.valid?true:false" value="Add Course">
                </form>
    
    
            </div>
        </div>
    </div>
    
</div>


<div>
    <router-outlet></router-outlet>
</div>
