<div class="ngo-navbar">
    <ul>
      <li><a [routerLink] = "['/ngoaboutusLink']">About Us</a></li>
      <li><a [routerLink] = "['/ngocriteriaLink']">Criteria</a></li>
      <li><a href="#">Organizations</a></li>
      <li><a href="#">Register Status</a></li>
      <li><a [routerLink] = "['/ngologinLink']">Add Courses</a></li>
      <li><a [routerLink] = "['/ngoRegisterLink']">Register</a></li>
      <li><a [routerLink] = "['/ngofaqLink']">FAQ</a></li>
      
    </ul>

</div>

<div class="img"><br/>

    <h1>FAQs</h1> <br/><br/>
    <p>
        <span> What is the belief behind our Foundation?</span><br/>
        We believe that unless members of the civil society 
        are involved proactively in the process of development,
        sustainable change will not happen. Believing in this principle
        of 'Civic Driven Change', our Foundation sensitises the civil 
        society in order to make them partners in its mission.
    </p>
    

    <p class="p1">
        <span>What is the mission of our Foundation?</span><br/>
        Our Foundation's mission is to empower underprivileged children,
        youth and their families and community through relevant education,
        and market-focused livelihood programmes. We
        aim to deploy best possible methodology and technology for achieving 
        ideal SROI (social return on investment), to practice and promote good 
        governance, to link business competitiveness of the corporate with social
        development initiatives and to sensitize the privileged section of society
        to promote Civic Driven Change.
    </p>

    <p class="p1">
        <span>Which areas does our Foundation work in?</span><br/>
        Our Foundation has been working in the thematic areas of education
         and empowerment of women and girls.
    </p>

    <p class="p1">
        <span>What is the mission of our Foundation?</span><br/>
        Our mission is to empower underprivileged children, 
        youth and their families and community through relevant education
         and market-focused livelihood programmes. 
    </p>

        
</div>


<div>
    <router-outlet> </router-outlet>
</div>