<div class="ngo-navbar">
    <ul>
      <li><a href="#">About Us</a></li>
      <li><a href="#">Criteria</a></li>
      <li><a href="#">Organizations</a></li>
      <li><a href="#">Funding norms</a></li>
      <li><a href="#">Register</a></li>
      <li><a href="#">Status</a></li>
      <li><a href="#">FAQ</a></li>
      
    </ul>
</div>

<div class="ngo-Orgs">
  <ul>
    <li>Age=18+</li>
    <li>Tata</li>
    <li>Goverment</li>
    <li><button type="button" style="color: green; background-color: lavender;">Register</button></li>
    <li>Open</li>
  </ul>
</div>



<div class="ngo-Orgs">
  <ul>
    <li>Age=21+</li>
    <li>Reliance</li>
    <li>Self-Funding</li>
    <li><button type="button" style="color: green; background-color: lavender;">Register</button></li>
    <li>Open</li>
  </ul>
</div>


<div class="ngo-Orgs">
  <ul>
    <li>Age=21+</li>
    <li>Oxfam</li>
    <li>Oxfam Ltd</li>
    <li><button type="button" style="color: green; background-color: lavender;">Register</button></li>
    <li>Closed</li>
  </ul>
</div>


<div class="ngo-Orgs">
  <ul>
    <li>Age=18+</li>
    <li>Reprieve</li>
    <li>Reprieve Ltd</li>
    <li><button type="button" style="color: green; background-color: lavender;">Register</button></li>
    <li>Open</li>
  </ul>
</div>


<div class="ngo-Orgs">
  <ul>
    <li>Age=18+</li>
    <li>Amnesty</li>
    <li>Self-Funding</li>
    <li><button type="button" style="color: green; background-color: lavender;">Register</button></li>
    <li>Open</li>
  </ul>
</div>

