<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/solid.css">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

  

<div class="ngo-navbar">
    <ul>
      <li><a href="#">About Us</a></li>
      <li><a href="#">Criteria</a></li>
      <li><a href="#">Organizations</a></li>
      <li><a href="#">Funding norms</a></li>
      <li><a href="#">Register</a></li>
      <li><a href="#">Status</a></li>
      <li><a href="#">FAQ</a></li>
      
    </ul>
</div>


<body>  

<div class="img"><br/>

    <h1><span>ABOUT US</span></h1> <br/><br/>
    <p>
    We, The Non-Governmental Organization (NGO) are a non-profit group that functions independently of any government.
    NGOs, sometimes called civil societies, are organized on community, national and international levels to serve a social or political goal such as humanitarian causes or the environment.
    </p>

        <button class="but" type="submit" onclick="course()">Courses</button>
      
</div>




</body>
</html>