
<div class="img">
    <div class="registerdiv">
        <div class="registercontainer">
            <div class="register-box">
       
				<h1>Change Password</h1>
	
		<form #changePassform="ngForm" (ngSubmit)="updateUserPassword()">
			<p>Email</p>
              <input type="text" #userEmail="ngModel" name="useremail" placeholder="Enter User Email" [(ngModel)]=newPassInput.email pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" required>
              <div *ngIf = "userEmail.invalid && (userEmail.dirty || userEmail.touched)">
                <div *ngIf = "userEmail.errors.required" style="color: red;"> Email is required</div>
                <div *ngIf = "userEmail.errors.pattern" style="color: red;"> Invalid Email</div>
            </div>

			<br>

				<p>New Password</p>
              <input type="text"  #userNewPassword="ngModel" name="userNewPassword"   placeholder="Enter New Password" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" [(ngModel)]=newPassInput.password required>
              <div *ngIf = "userNewPassword.invalid && (userNewPassword.dirty || userNewPassword.touched)">
                <div *ngIf = "userNewPassword.errors.required" style="color: red;"> Password is required</div>
                <div *ngIf = "userNewPassword.errors.pattern" style="color: red;"> Invalid Password</div>
              </div>

              <p>Confirm Password</p>
              <input type="text"  #userConfirmPassword="ngModel" name="userConfirmPassword"   placeholder="Enter New Password" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" [(ngModel)]='confirmPass' required>
              <div *ngIf = "userConfirmPassword.invalid && (userConfirmPassword.dirty || userConfirmPassword.touched)">
                <div *ngIf = "userConfirmPassword.errors.required" style="color: red;"> Password is required</div>
                <div *ngIf = "userConfirmPassword.errors.pattern" style="color: red;"> Invalid Password</div>
            </div>
              
	
	
			<button type="submit" class="login-button"> Update </button>
			
        </form>	
        {{confirmPassCheckMessage}}
		
</div>
</div>
</div>
