
<div class="admin-navbar">

  <ul>
   <li><a href="#">NGO</a></li>
  <li><a href="#">Trainee</a></li>
  <li><a href="#">Courses</a></li>
  <li><a href="#">Users</a></li>
  </ul>
  </div>
  
  <table>
    <tr>
    <th>First Name</th>
    <th>Last Name</th>
    <th>Points</th>
    </tr>
    <tr>
    <td>Peter</td>
    <td>Griffin</td>
    <td>$100</td>
    </tr>
    <tr>
    <td>Lois</td>
    <td>Griffin</td>
    <td>$150</td>
    </tr>
    <tr>
    <td>Joe</td>
    <td>Swanson</td>
    <td>$300</td>
    </tr>
    <tr>
    <td>Cleveland</td>
    <td>Brown</td>
    <td>$250</td>
    </tr>
  </table>
  
  <!--<table class="table"><tr><td>
   <a class="btn btn-primary " href="/">test</a>
  </td></tr><table>-->
  
    