<div class ="img">
    <div class="tablediv">
    <table class="tablecourse" border = 1>
        <tr>
        <th> Scheme ID </th>
        <th>Girl Child Age</th>
        <th> Girl Child Nationality </th>
        <th> Initial Deposit Amount </th>
        <th> Application Status </th>
      

       
        </tr>
       
    
        <tr *ngFor = 'let sy of sukanyayojna;' >
        <td> {{sy.schemeId}} </td>
        <td> {{sy. girlChildAge}} </td>
        <td> {{sy.girlChildNationality}} </td>
        <td> {{sy.initialDepositAmount}} </td>
        <td> {{sy.applicationStatus}} </td>
       
       
        </tr>
    
        </table>
</div>
</div>
