<div class="admin-navbar">

    <ul>
      <li><a [routerLink]="['/adminhomeLink']">NGO</a></li>
     
      <li><a [routerLink]="'/admin/courses'">Courses</a></li>
      <li><a [routerLink]="'/admin/users'">Users</a></li>
      <li><a [routerLink]="'/admin/accomodation'">Accomodation</a></li>
     
      <li><a [routerLink]="['/adminloginLink']">Logout</a></li>
    </ul>
    </div>
    <div class ="img"><br>
        <h1>SUKANYA YOJANA DETAILS</h1>
    <div class="tablediv">
    <table class="tablecourse" border = 1>
        <tr>
        <th> Scheme ID </th>
        <th>Girl Child Age</th>
        <th> Girl Child Nationality </th>
        <th> Initial Deposit Amount </th>
        <th> Application Status </th>
      

       
        </tr>
       
    
        <tr *ngFor = 'let sy of sukanyayojna;' >
        <td> {{sy.schemeId}} </td>
        <td> {{sy. girlChildAge}} </td>
        <td> {{sy.girlChildNationality}} </td>
        <td> {{sy.initialDepositAmount}} </td>
        <td> {{sy.applicationStatus}} </td>
       
       
        </tr>
    
        </table>
</div>
</div>
