<!--<head>
	<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
	<script src='jquery-3.2.1.min.js'></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
	
	<script>
		$("#button").click(function() {
			$("#fn").show();
		
		  });
		  </script>
</head>-->

<!--
<div class="img">
    <div class="registerdiv">
        <div class="registercontainer">
            <div class="register-box">
       
				<h1>Forgot Password</h1>
	
		<form #form="ngForm" >
			<p>Email</p>
              <input type="text" #adminEmail="ngModel" name="adminemail" placeholder="Enter Username" [(ngModel)]=forgotpassword.email pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" required>
              
                
			
				<button type="submit" class="login-button">Generate OTP</button>
				
				<br>

				<p>Enter OTP</p>
              <input type="text"  placeholder="Enter OTP"  >
		-->		
				<!--<a [routerLink]="'/adminloginLink'">Login here</a>-->
			<!--	<button type="submit" class="login-button" (click)="checkEmail()"  >Verify</button>
				
			
		</form>
	</div></div></div></div>

-->