<div class="registerdiv">
    <div class="registercontainer">
        <div class="register-box">
            <h1>Application for Accomodation</h1>
            <form  #userregform="ngForm" (ngSubmit)="registerUser()">

                <div class="marital"> 
                    <label class="maritallabel"> Area of Residence </label>
                    <div>
                        <select class="maritalstatus" name="m-status" #userMaritalStatus="ngModel"  [(ngModel)]=user.userMaritalStatus>
                            <option  disabled="disabled" selected="selected">--Choose Option--</option>
                            <option  value="single">Metropolitan</option>
                            <option  value="married">Urban</option>
                            <option  value="widowed">Sub-urban</option>
                            <option  value="divorced">Sub-rural</option>
                            <option  value="seperated">Rural</option>   
                        </select>
                    </div>
                </div>
                <p>Gross Income Per Month</p>
                <input class="nameinput" type="text"  #userName="ngModel" name="username" placeholder="Enter Per Month Income" [(ngModel)]=user.userName required>
                <p>Caste</p>
                <input class="nameinput" type="text"  #userName="ngModel" name="username" placeholder="Enter Caste" [(ngModel)]=user.userName required>
                <p>Husband Residence City</p>
                <input class="nameinput" type="text"  #userName="ngModel" name="username" placeholder="Enter Husband Residence City" [(ngModel)]=user.userName required>
                <p>User Residence City</p>
                <input class="nameinput" type="text"  #userName="ngModel" name="username" placeholder="Enter User Residence City" [(ngModel)]=user.userName required>
                <p>Number Of Daughter Below 18 years</p>
                <input class="nameinput" type="text"  #userName="ngModel" name="username" placeholder="Enter number of daughters" [(ngModel)]=user.userName required>
                <p>Number Of Son Below 5 years</p>
                <input class="nameinput" type="text"  #userName="ngModel" name="username" placeholder="Enter number of sons" [(ngModel)]=user.userName required>

                <p class="gender"> <label class="genderlabel"> Gender </label>
                <input type="radio"  name="usergender" value="female" #userGender="ngModel" [(ngModel)]=user.userGender checked > <span>Female</span>
                <input type="radio"  name="usergender" value="male"  #userGender="ngModel" [(ngModel)]=user.userGender > <span>Male</span>
                <input type="radio"  name="usergender" value="other"  #userGender="ngModel" [(ngModel)]=user.userGender > <span>Other</span>
                </p>


                <p> Date Of Birth </p>
                <input type="date"  name="userdob" placeholder="Enter Date of Birth"  #userDOB="ngModel" [(ngModel)]=user.userDOB required>

                <p class="nationality"> 
                <label class="nationalitylabel">  Nationality </label>
              
                <input type="radio"  name="usernationality" value="Indian"  #userNationality="ngModel" checked [(ngModel)]=user.userNationality> <span>Indian</span>
                <input type="radio"  name="usernationality" value="othercontry" #userNationality="ngModel"  [(ngModel)]=user.userNationality > <span>Other</span>
                
                </p>

               

                <p>Address</p>
                <textarea name="address"  #userAddress="ngModel" [(ngModel)]=user.userAddress></textarea>

                <p>  Email </p>
                <input type="text"  name="useremail" #userEmail="ngModel"   placeholder="Enter Email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" [(ngModel)]=user.userEmail required>
               
                <p>  Password </p>
                <input type="password" name="password" #userPassword="ngModel"  placeholder="Enter Password"  pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" [(ngModel)]=user.userPassword required>
                
                <input type="submit" name="submit" [disabled] = "!userregform.valid?true:false" value="Register">
                
            </form>


        </div>
    </div>
</div>
