.logindiv{
    padding: 200px;
	background-image: url(../images/userlogin-bgi.jpg);
	background-size: auto;
    background-position: center;
    font-family: sans-serif;
}

.logincontainer{
	width: 100%;
	margin-top: auto;
}
.login-box{
    width: 420px;
    height: 520px;
    background: rgba(0, 0, 0, 0.5);
	color: #fff;
    box-sizing: border-box;
	padding: 70px 30px;
	margin: auto;
}

.userimage img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.userimage {
    background-image: url(../images/face.png);
    background-repeat: no-repeat;


	width: 100px;
    height: 100px;
    margin-left: 125px;
    margin-right: 125px;
    margin-top: -120px ;
    margin-bottom: 30px;
}



h1{
    margin: 0;
    padding: 0 0 20px;
    text-align: center;
    font-size: 22px;
}
.login-box p{
    margin: 0;
    margin-top: 20px;
    padding: 0;
    font-weight: bold;
}
.login-box input{
    width: 100%;
    margin-bottom: 20px;
}
.login-box input[type="text"], input[type="password"]
{
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    height: 40px;
    color: #fff;
    font-size: 16px;
}
.login-box input[type="submit"]
{
    margin-top: 30px;
    border: none;
    outline: none;
    height: 40px;
    background: #1c8adb;
    color: #fff;
    font-size: 18px;
    border-radius: 20px;
}
.login-box input[type="submit"]:hover
{
    cursor: pointer;
    background: #39dc79;
    color: #000;
}

.login-box a{
    text-decoration: none;
    font-size: 14px;
    color: #fff;
}
.login-box a:hover
{
    color: #39dc79;
}

.forgotpass{
    text-align: center;
}
.forgotpass a{
    color: mediumvioletred;
}

.signup{
    margin-top: 15px;
    text-align: center;
}

.signup a{
    color: deepskyblue;
}


