<div class="logindiv">
  <div class="logincontainer">
      <div class="login-box">
          <div class="userimage">
          </div>
          <h1>NGO Login</h1>
          <form  #form="ngForm" (ngSubmit)="checkLoginNgo()">
              <p>Email</p>
              <input type="text" #ngoEmail="ngModel" name="ngoemail" placeholder="Enter Username" [(ngModel)]=login1.email pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" required>
              <div *ngIf = "ngoEmail.invalid && (ngoEmail.dirty || ngoEmail.touched)">
                  <div *ngIf = "ngoEmail.errors.required" style="color: red;"> Email is required</div>
                  <div *ngIf = "ngoEmail.errors.pattern" style="color: red;"> Invalid Email</div>
              </div>
              <p>Password</p>
              <input type="password" #password="ngModel" name="password" placeholder="Enter Password" [(ngModel)]=login1.password pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" required>
              <div *ngIf = "password.invalid && (password.dirty || password.touched)">
                  <div *ngIf = "password.errors.required" style="color: red;"> Password is required</div>
                  <div *ngIf = "password.errors.pattern" style="color: red;"> Invalid Password</div>
                  </div>
                
              <input type="submit" name="submit" value="Login">
              <div class="errordiv">
                <label>{{message}}</label>
            </div>

              <div class="forgotpass">
              <a [routerLink]="['/generateNVerifyNgoLink']">Forget Password ?</a>
              </div>
              <div class= "signup">
                  New User ? <a [routerLink]="['/ngoRegisterLink']">Sign up Now!</a>
              </div>
          </form>


      </div>
  </div>
</div>



