<div class="ngo-navbar">
  <ul>
    <li><a [routerLink] = "['/ngoaboutusLink']">About Us</a></li>
    <li><a [routerLink] = "['/ngocriteriaLink']">Criteria</a></li>
    <li><a [routerLink] = "['/ngoOrganizationsLink']">Organizations</a></li>
    <li><a [routerLink] = "['/ngoregisterstatusLink']">Register Status</a></li>
    <li><a [routerLink] = "['/ngoRegisterLink']">Register</a></li>
    <li><a [routerLink] = "['/ngofaqLink']">FAQ</a></li>
    
  </ul>

</div>

<div class="img">

  <br/><br/><br/><br/><br/><br/><br/><br/>
  <a class="view" [routerLink] = "['/ngoviewallcoursesLink']"><span>View My Courses</span></a>
  <a class="add" [routerLink] = "['/ngoaddcourseformLink']"><span>Add Courses</span></a>
  <a class="edit" [routerLink] = "['/ngoeditcourseLink']"><span>Edit Courses</span></a>
  <a class="delete" [routerLink] = "['/ngodeletecourseLink']"><span>Delete Courses</span></a>

  
</div>


<div>
  <router-outlet></router-outlet>
</div>