<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://fonts.googleapis.com/css?family=Cardo:400,700|Oswald" rel="stylesheet">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;1,100&display=swap" rel="stylesheet">
  

  <title>Document</title>
</head>

<body>
  <div class="header">
    <div class="headerrow">
      <div class="headercol1">
        <img src="../assets/images/we.png" /> 
      </div>
      <div class="headercol2"> 
         <h1> MINISTRY OF WOMEN & CHILD DEVELOPMENT</h1>
      </div>

      <div class="headercol3">
        <img src="../assets/images/women-empowerment-logo.jpg" /> 
      </div>
      
    </div>
  </div>

  <div class="topnav-bar">
      <ul>
        <li><a [routerLink] = "['/userloginLink']"><i class="fa fa-tasks" aria-hidden="true"></i>STEP</a></li>
        <li><a [routerLink] = "['/ngoaboutusLink']"><i class="fa fa-handshake-o" aria-hidden="true"></i>NGO</a></li>
        <li><a [routerLink] = "['/adminloginLink']"><i class="fa fa-user"></i>ADMIN</a></li>
      </ul>
  </div>
  
  <div>
    <router-outlet> </router-outlet>
  </div>
  
   
  

</body>

</html>