@import url('https://fonts.googleapis.com/css2?family=Tajawal:wght@500&display=swap');
*{
    margin:0;
    padding:0; 
}

body {
    margin:0px;
    padding:0px;  
}

.header{
    background: linear-gradient(#EDF5F1,#9ECDC2);
    padding: 10px 15px;
}

.headerrow{
    display: flex;
}


.headerrow img{
    border: 2px solid gray;
}

.headercol2{
    width: 90%;
    text-align: center;
}

.headercol1{
    float: left;
}
.headercol3{
    float: right;

}


.headercol2 h1{
    padding-top: 20px;
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    color: #191A1A ;


}


.topnav-bar{
    background : #127E7A ;
    text-align: center;
    overflow: hidden;
}

.topnav-bar ul{

    display: inline-flex;
    list-style: none;
    color : #fff ;
}

.topnav-bar ul li {
    width: 200px ;
    margin: 5px;
    padding: 5px 50px;
}


.topnav-bar ul li a {
    text-decoration: none;
    color: #fff;
}


.topnav-bar ul li:hover{
    background: #215654;
    border-radius: 5px;
}

.topnav-bar .fa{
    margin-right: 10px;
}

.row{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.row::after{
    display: table;
    clear: both;
    content: "";
}
.col-1{width: 8.33%;}
.col-2{width: 16.66%;}
.col-3{width: 25%;}
.col-4{width: 33.33%;}
.col-5{width: 41.66%;}
.col-6{width: 50%;}
.col-7{width: 58.33%;}
.col-8{width: 66.66%;}
.col-9{width: 75%;}
.col-10{width: 83.33%;}
.col-11{width: 91.66%;}
.col-12{width: 100%;}

footer.foot{
    background-color: #666;
    padding-left:7%;
   
}
footer.foot h1{
    color:white;
    font-size: 20px;
    font-family: 'Tajawal', sans-serif;
    padding-top: 2px;
    padding-bottom: 8px;

}
footer.foot ul{
    list-style-type: none;
    text-align:left;
    padding-left: 0;
}
footer.foot ul li{
    color:white;
    font-size:16px;
    font-family: 'Tajawal', sans-serif;
    line-height: 1.5;
}












