.container{
    width: 100%;
    margin: auto;
    padding-top: 4%;
    padding-bottom: 4%;
}

.row{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.row::after{
    display: table;
    clear: both;
    content: "";
}

.col-1{width: 8.33%;}
.col-2{width: 16.66%;}
.col-3{width: 25%;}
.col-4{width: 33.33%;}
.col-5{width: 41.66%;}
.col-6{width: 50%;}
.col-7{width: 58.33%;}
.col-8{width: 66.66%;}
.col-9{width: 75%;}
.col-10{width: 83.33%;}
.col-11{width: 91.66%;}
.col-12{width: 100%;}

/*img{
    background-repeat: no-repeat;
	background-size: auto;
    background-position: center;
}*/

/*img{
    max-width: 100%;
    height: auto;
    background-size: auto;
    background-position: center;
}*/

#slider{
    overflow: hidden;
}
#slider figure{
    position: relative;
    width: 100%;
    margin: 0;
    left: 0;
    animation: 20s slider infinite;
}

.image-box{
    position:relative;
    text-align: center;
    color: black;
}

.top-left{
    position: absolute;
    top: 8px;
    right: 16px;
}

p{
    padding-top: 30px;
    font-size: 19px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}