<div class="step-navbar">
  <ul>
    <li><a [routerLink]="['/stepAboutUsLink']">About Us</a></li>
    <li><a href="#">Guidelines</a></li>
    <li><a href="#">Registration</a></li>
    <li><a href="#">NGOs</a></li>
    <li><a [routerLink]="['/trainingSectorsLink']">Training Sectors</a></li>
    <li><a [routerLink]="['/welfareSchemesLink']">Welfare Schemes</a></li>
    <li><a href="#">Status</a></li>
    <li><a href="#">FAQ</a></li>


  </ul>
</div>

<div class="stepAboutUs">
  <div class="row">
    <div class="col-7">
      <div class="stepabout-box">

        <div class="divlabel">
          <label>About STEP : </label>
        </div>
        <div class="contentdiv">
          <p>The Support to Training and Employment Programme for Women (STEP) Scheme aims to provide
            skills that give employability to women and to provide competencies
            and skill that enable women to become self-employed/ entrepreneurs.
            The Support to Training and Employment Programme for Women (STEP) scheme has two main objectives viz. a) To
            provide skills that give employability to women. b) To provide skills that enable women to become
            self-employed/entrepreneurs.
            This scheme is intended to benefit women who are in the age group of 16 years and above.
            In this scheme the beneficiaries will be registered under an NGO, that will be providing the training and
            employment programme.</p>
        </div>
      </div>
    </div>
    <div class="col-5">
      <div class="imagediv">
        <img src="../../assets/images/Women-Empowerment-in-India - Copy.jpg">
      </div>
    </div>
  </div>
</div>