
<div class="img">
    <div class="registerdiv">
        <div class="registercontainer">
            <div class="register-box">
       
				<h1>Change Password</h1>
	
		<form #changePassformNGO="ngForm" (ngSubmit)="updateNGOPassword()">
			<p>Email</p>
              <input type="text" #NGoEmail="ngModel" name="ngoemail" placeholder="Enter NGO Email" [(ngModel)]=newPassInput.email pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" required>
              <div *ngIf = "NGoEmail.invalid && (NGoEmail.dirty || NGoEmail.touched)">
                <div *ngIf = "NGoEmail.errors.required" style="color: red;"> Email is required</div>
                <div *ngIf = "NGoEmail.errors.pattern" style="color: red;"> Invalid Email</div>
            </div>

			<br>

				<p>New Password</p>
              <input type="text"  #NGONewPassword="ngModel" name="ngoNewPassword"   placeholder="Enter New Password" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" [(ngModel)]=newPassInput.password required>
              <div *ngIf = "NGONewPassword.invalid && (NGONewPassword.dirty || NGONewPassword.touched)">
                <div *ngIf = "NGONewPassword.errors.required" style="color: red;"> Password is required</div>
                <div *ngIf = "NGONewPassword.errors.pattern" style="color: red;"> Invalid Password</div>
            </div>

              <p>Confirm Password</p>
              <input type="text"  #ngoConfirmPassword="ngModel" name="ngoConfirmPassword"   placeholder="Enter New Password" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" [(ngModel)]='confirmPass' required>
              <div *ngIf = "ngoConfirmPassword.invalid && (ngoConfirmPassword.dirty || ngoConfirmPassword.touched)">
                <div *ngIf = "ngoConfirmPassword.errors.required" style="color: red;"> Password is required</div>
                <div *ngIf = "ngoConfirmPassword.errors.pattern" style="color: red;"> Invalid Password</div>
            </div>
              
	
	
			<button type="submit" class="login-button"> Update </button>
			
        </form>	
       
        <h2>{{message}}</h2>
		
        <div class="confirmMessageDiv">{{confirmPassCheckMessage}}</div>
        
        
</div>
</div>
</div>
