<div class ="img">
    <div class="tablediv">
    <table class="tablecourse" border = 1>
        <tr>
        <th> Course ID </th>
        <th> Course Name </th>
        <th> Course Start Date </th>
        <th> Course End Date </th>
        <th> Course Providing NGO </th>
        <th> Course Benifits </th>
        <th>Training Sector</th>

       
        </tr>
    
    
        <tr *ngFor = 'let cour of course;' >
        <td> {{cour.courseId}} </td>
        <td> {{cour.courseName}} </td>
        <td> {{cour.courseStartDate}} </td>
        <td> {{cour.courseEndDate}} </td>
        <td> {{cour.courseProvidingNGO}} </td>
        <td> {{cour.courseBenefits}} </td>
        <td> {{cour.trainingSector}} </td>
       
        </tr>
    
        </table>
</div>
</div>