<div class="ngo-navbar">
    <ul>
      <li><a [routerLink] = "['/ngoaboutusLink']">About Us</a></li>
      <li><a href="#">Criteria</a></li>
      <li><a href="#">Organizations</a></li>
      <li><a href="#">Register Status</a></li>
      <li><a [routerLink] = "['/ngologinLink']">Courses</a></li>
      <li><a href="#">FAQ</a></li>
      
    </ul>

</div>

<div class="img" ng-app="MyApp" ng-controller="MyController"><br/>

    <h1>ABOUT US</h1> <br/><br/>
    <p>
    We, The Non-Governmental Organization (NGO) are a non-profit group that functions independently of any government.
    NGOs, sometimes called civil societies, are organized on community, national and international levels to serve a social or political goal such as humanitarian causes or the environment.
    </p>

        
</div>

<div>
  <router-outlet> </router-outlet>
</div>