
<div class="logindiv">
  <div class="logincontainer">
      <div class="login-box">
          <div class="userimage">
          </div>
          <h1>Admin Login</h1>
          <form  #form="ngForm" (ngSubmit)="checkLogin()">
              <p>Email</p>
              <input type="text" #adminEmail="ngModel" name="adminemail" placeholder="Enter Username" [(ngModel)]=adminlogin.email pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" required>
              <div *ngIf = "adminEmail.invalid && (adminEmail.dirty || adminEmail.touched)">
                  <div *ngIf = "adminEmail.errors.required" style="color: red;"> Email is required</div>
                  <div *ngIf = "adminEmail.errors.pattern" style="color: red;"> Invalid Email</div>
              </div>
              <p>Password</p>
              <input type="password" #password="ngModel" name="password" placeholder="Enter Password" [(ngModel)]=adminlogin.password pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" required>
              <div *ngIf = "password.invalid && (password.dirty || password.touched)">
                  <div *ngIf = "password.errors.required" style="color: red;"> Password is required</div>
                  <div *ngIf = "password.errors.pattern" style="color: red;"> Invalid Password</div>
                  </div>

              <input type="submit" name="submit" value="Login">
              <!--<div class="forgotpass">
              <a [routerLink]="['/generateNVerifyAdminLink']">Forget Password ?</a> 
              </div>
              -->
              
          </form>


      </div>
  </div>
</div>