
<div class="img">
    <div class="registerdiv">
        <div class="registercontainer">
            <div class="register-box">
       
				<h1>Forgot Password</h1>
	
		<form #generateOTPform="ngForm" (ngSubmit)="generateOTPnumber()">
			<p>Email</p>
              <input type="text" #userEmail="ngModel" name="useremail" placeholder="Enter User Email" [(ngModel)]=getEmailId.email pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" required>
              
                
			
				<button type="submit" class="login-button">Generate OTP</button>
        </form>
    
        <form #verigyOTPform="ngForm" (ngSubmit)="verifyOTPnumber()">

				<br>

				<p>Enter OTP</p>
              <input type="text"  #userOTP="ngModel" name="userOTP"   placeholder="Enter OTP" [(ngModel)]=getOTP.otp required>
			
	
			<button type="submit" class="login-button"> Verify </button>
				
		</form>	
		
</div>
</div>
</div>
</div>

